header
    .nav-box
        .nav-left
            .logo-box(onclick="location.href='/'")
                img(src="/img/logo.png")
            .nav-text-box
                .bold(onclick="location.href='/'") 타임라인
                .bold(onclick="location.href='/'") 힐러?
                .more 더보기 
        .nav-right
            .icon-box
                i.fas.fa-search
            .funding-box(onclick="location.href='/'") 선수 등록하기 
    .more-box
        .smenu.regular
            h4 바로가기 
            button 선수등록
            button 캐스트
            button(onclick="location.href='/'") 비법공유 
        .smenu.regular
            h4 플레이어
            button 진행상황 보기 
            button 기록 
            button 이용 가이드 
        .smenu.regular
            h4 문의 
            button 펀딩 오픈 신청하기
            button 힐러팩 협찬 문의 
            button 이용 가이드 
include ./loader.pug          