extends ../includes/header.pug
block contents
    script.
        $(document).ready(
            function(){
                genderClick();
                calbmr();
                deleteModal();
            }
        );
    section.apply
        article.period-box
            
    script(src="/js/apply.js")   